#quiz-container {
  width: 60vw;
}

.choice-list {
  display: flex;
  margin: 25px 0 0;
  width: 60vw;
  justify-content: space-around;
  flex-wrap: wrap;
}

.quiz-choice {
  flex-basis: 25vw;
  margin: 10px 0 10px;
}

#quiz-container img {
  height: auto;
  width: 30vw;
  margin-top: 25px;
  box-shadow: 24px 10px 114px -68px rgba(0,0,0,0.75);
}

#quiz-container .button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quiz-container button {
  width: 15vw;
  padding:10px;
  margin-bottom: 20px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
}

#quiz-container button[type="submit"] {
  background: green;
}

#quiz-container button[type="button"] {
  background: #4444ee;
}

#quiz-container p {
  height: 15px;
}
